{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <title>Доабвить карту</title>
</head>
<body>
    <div class="edit-wrapper">
        <div class="back">
            <a href="{% url 'index' %}"></a>
        </div>
        <div class="edit-input-wrapper">
            <div class="login-header">
                <img src="{% static 'img/logo.png' %}" alt="none">
                <h1>Маг</h1>
            </div>
            <img id="calendar-img" src="{% static 'img/clarity_calendar-line.png' %}" alt="none">
            <div class="input">
                <form action="" method="post">
                    {% csrf_token %}
                    <input id="login-inp" name="medical_card" type="text" placeholder="Медецинская история">
                    <input id="login-inp" name="result" type="text" placeholder="Результаты обследования">
                    <input id="login-inp" name="diagnosis" type="text" placeholder="Диагноз">
                    <input id="login-inp" name="treatment" type="text" placeholder="Лечение">
                    <select name="patient">
                        <option value="0">Выберите роль</option>
                        {% for patient in patients %}
                            <option value="{{ patient.id }}">{{ patient.surname }} {{ patient.name }}</option>
                        {% endfor %}
                    </select>
                    <input id="login-btn" type="submit" value="Создать">
                </form>
            </div>
        </div>
    </div>
</body>
</html>